@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

// main BG

$mainBG: hsl(217, 54%, 11%);
$white: hsl(0, 0%, 100%);
$cardBG: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$paragraph: hsl(215, 25%, 43%);
$green: hsl(182, 84%, 40%);
$margin: 1.125rem;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    background-color: $mainBG;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}